<div id="inbox_form">
    <script>
        $(document).ready(function(){
            
            project_selector_id='id_project_title_inbox';
            {%if current_project%}
                $("#"+project_selector_id).val('{{current_project|escapejs}}');
                $('#id_title').focus();
            {%else%}
                $('#'+project_selector_id).focus();
            {%endif%}
            {%include '_project_selector_js.html'%}
        });
    </script>

    <h3>Ingresa una Tarea al Inbox:</h3>
    <form method="post" action="{%url tasks_inbox_insert%}">
        {{inbox_form.as_p}}
        <p><input type="submit"> </p>
    </form>
</div>
