{%extends 'base.html'%}
    {%block title%} {%if current_project %} {{current_project}} {% else %} Home {% endif %} {%endblock%}
    {%block extra_head%}
        <script>
            $(document).ready(function(){
                $("#id_project_filter").autocomplete(WWW_ROOT+'tasks/project/json/',{
                            dataType:'json',
                            parse: function(data) {
                                return $.map(data, function(row) {
                                    return {
                                        data: row,
                                        value: row.id,
                                        result: row.title
                                    }
                                });
                            },                
                            formatItem: function(item) {
                                return item.title;
                            }
                        }).result(function(e, item){
                                location.href=WWW_ROOT+'tasks/project/open/'+item.id;
                    });        
            });
        </script>
    {%endblock%}
    
    {%block content%}
        <div id="filter_form">
            {%include 'filtros.html'%}
            
                {%for object in pending_list%}
                    {%if forloop.first%}
                        {%include 'tasks/_open_size_box.html'%}
                        {%include 'tasks/_open_project_box.html'%}
                    {%else%}
                        
                        {%ifchanged object.project%}
                            </div><!-- project -->
                        {%endifchanged%}
                        
                        {%ifchanged object.size%}
                            </div><!-- size -->
                            {%include 'tasks/_open_size_box.html'%}
                        {%endifchanged%}
                        
                        {%ifchanged object.project%}
                            {%include 'tasks/_open_project_box.html'%}
                        {%endifchanged%}
                    {%endif%}
                    
                    {%include 'tasks/task_float.html'%}
                {%endfor%}
                
                {%if pending_list%}
                        </div><!-- project SOY EL ULTIMO-->
                    </div><!-- size SOY EL ULTIMO -->
                {%endif%}
        </div>
    {%endblock%}
    
