{%extends 'base.html'%}
    {%block title%} {%if current_project %} {{current_project}} {% else %} Home {% endif %} {%endblock%}
    {%block extra_head%}
        <script>
            $(document).ready(function(){
                $("#id_project_filter").autocomplete(WWW_ROOT+'tasks/project/json/',{
                            dataType:'json',
                            parse: function(data) {
                                return $.map(data, function(row) {
                                    return {
                                        data: row,
                                        value: row.id,
                                        result: row.title
                                    }
                                });
                            },                
                            formatItem: function(item) {
                                return item.title;
                            }
                        }).result(function(e, item){
                                location.href=WWW_ROOT+'tasks/project/open/'+item.id;
                    });        
            });
        </script>
    {%endblock%}
    {%block content%}
        <div id="filter_form">
            {%include 'filtros.html'%}
                {%for list in pending_list%}
                    <div class="tasks_pending_list_label">
                        <h2>{{list.label}}</h2>
                        {% for object in list.list %}
                            {%ifchanged object.project%}
                                {%if not forloop.first%}
                                    </div>
                                {%endif%}
                                <div class="tasks_pending_list_project_label">
                                    <span class="tasks_pending_list_project_title">{{object.project}}</span>
                            {%endifchanged%}
                                {%include 'tasks/task_float.html'%}
                            {%if forloop.last%}
                                </div>
                            {%endif%}
                        {%empty%}
                            <p>No tasks are available.</p>
                        {%endfor%}
                    </div>
                {%endfor%}
        {%comment%}
                    <h2>Bloqueadas</h2>
                    {% for object in bloqued_tasks %}
                        {%include 'tasks/task_float.html'%}
                    {% empty %}
                        <p>No tasks are available.</p>
                    {% endfor %}
        
                    <h2>Pospuestas</h2>
                    {% for object in delayed_tasks %}
                        {%include 'tasks/task_float.html'%}
                    {% empty %}
                        <p>No tasks are available.</p>
                    {% endfor %}
        {%endcomment%}
        </div>
    {%endblock%}
    
