{%extends 'base.html'%}
{%block title%} {%if current_project %} {{current_project}} {% else %} Home {% endif %} {%endblock%}
{%block extra_head%}
<script>
    $(document).ready(function(){
        $("#id_task_search").autocomplete(WWW_ROOT+'/tasks/task/json/').result(function(event, item) {  
            location.href = item[1];
        });
        $("#id_project_filter").autocomplete(WWW_ROOT+'/tasks/project/json/',{
                    dataType:'json',
                    parse: function(data) {
                        return $.map(data, function(row) {
                            return {
                                data: row,
                                value: row.id,
                                result: row.title
                            }
                        });
                    },                
                    formatItem: function(item) {
                        return item.title;
                    }
                }).result(function(e, item){
                        location.href=WWW_ROOT+'/tasks/project/open/'+item.id;
            });        
    });
</script>

{%endblock%}
{%block content%}
<div id="filter_form">
                    <table >          
                        <tr><td > 
                        {%include 'filtros.html'%}
                        </td></tr>
                        {%for list in pending_list%}
                            <tr><td> 
                                <h2>{{list.label}}</h2>
                                {% if list.list %}
                                    {% for object in list.list %}
                                        {%include 'tasks/task_float.html'%}
                                    {% endfor %}
                                {% else %}
                                    <p>No tasks are available.</p>
                                {% endif %}
                            </td></tr>
                        {%endfor%}
                            <tr><td> 
                                <h2>Bloqueadas</h2>
                                {% if bloqued_tasks %}
                                    {% for object in bloqued_tasks %}
                                        {%include 'tasks/task_float.html'%}
                                    {% endfor %}
                                {% else %}
                                    <p>No tasks are available.</p>
                                {% endif %}
                            </td></tr>
                            <tr><td> 
                                <h2>Pospuestas</h2>
                                {% if delayed_tasks %}
                                    {% for object in delayed_tasks %}
                                        {%include 'tasks/task_float.html'%}
                                    {% endfor %}
                                {% else %}
                                    <p>No tasks are available.</p>
                                {% endif %}
                            </td></tr>
                        
                        
                    </table>     
</div>
                    
{%endblock%}
