{%extends 'base.html'%}
{%block title%} {{inbox_first}} {%endblock%}
{%block extra_head%}
<link rel="stylesheet" type="text/css" href="{%url static 'js/jquery.autocomplete.css'%}" />
<script src="{%url static 'js/jquery.autocomplete.min.js'%}" ></script>
<script>
    var WWW_ROOT=''
    function format(item) {
        return item;
    }
    $(document).ready(function(){
        $("#id_project_title").val('{{inbox_first.project}}');
        $("#id_project_title").autocomplete(WWW_ROOT+'/tasks/project/json/');
    });
</script>
{%endblock%}
{%block content%}
{{object}}
<h3>Esta Tarea ¿Requiere acción?</h3>
<b>Sí:</b> Entonces debes clasificarla, y elegir tamaño. <br>
<b>No:</b> Entonces debes archivarla.
                    <table >
                        <tr><td> 
                        {% if inbox_first %}
                            <form method="post" action="{%url tasks_process_update inbox_first.id%}">
                            <table>
                                <tr>
                                    <td><a title="Borrar definitivamente" href="{%url tasks_task_delete inbox_first.id%}">Eliminar</a> </td>
                                    <td><input type="submit" value="Siguiente"> </td>
                                </tr>
                               {{form}}
                                <tr>
                                    <td><a title="Borrar definitivamente" href="{%url tasks_task_delete inbox_first.id%}">Eliminar</a> </td>
                                    <td><input type="submit" value="Siguiente"> </td>
                                </tr>
                            </table>
                            </form>
                        {% else %}
                            <p>No hay Tareas en el Inbox.</p>
                        {% endif %}
                        </td></tr>
                    </table>                
{%endblock%}
