{%extends 'base.html'%}
{%block title%}Nuevo Proyecto{%endblock%}
{%block inbox%}
{%endblock%}

{%block content%}
<h3>Proyecto</h3>
                    <table >
                        <tr><td> 
                            <form method="post" action="">
                            <table>
                               {{form}}
                                <tr>
                                    <td></td>
                                    <a title="Borrar definitivamente" href="{%url tasks_project_delete object.id%}">Eliminar</a>
                                    <td><input type="submit" value="Save">  </td>
                                </tr>
                            </table>
                            </form>
                        </td></tr>
                    </table>                
{%endblock%}
