{%extends 'base.html'%}
{%block content%}
<h3>Proyecto</h3>
                    <table >
                        <tr><td> 
                            <form method="post" action="/tasks/project/new/">
                            <table>
                               {{form}}
                                <tr>
                                    <td> </td>
                                    <td><input type="submit"> </td>
                                </tr>
                            </table>
                            </form>
                        </td></tr>
                    </table>                
{%endblock%}
