{%extends 'base.html'%}
    {%block title%}Proyectos{%endblock%}
    {%block content%}
        <script>
            window.onload=function(){document.getElementById('id_title').focus();}
        </script>
        <div id="project_all">
            <table>
                <tr><td>
                <h3>Ingrese una Carpeta Nueva:</h3>
                    <form method="post" action="{%url tasks_project_new%}">
                        <table>
                            {{form}}
                            <tr>
                                <td></td>
                                <td><input type="submit"></td>
                            </tr>
                        </table>
                    </form>
                </td></tr>
                    <tr><td>
                        <h2>Carpetas</h2>
                        
                        {{user.project_set.all}}
                        
                            {%if open_projects%}
                                {%for object in open_projects%}
                                    {%include 'tasks/project_float.html'%}
                                {%endfor%}
                            {%else%}
                            <p>No projects are available.</p>
                        {%endif%}
                    </td></tr>
            </table>
        </div>
    {%endblock%}
    
