{%extends 'base.html'%}
    {%block title%} {{object}} {%endblock%}
    {%block extra_head%}
        <script>
            $(document).ready(function(){
                project_selector_id='id_project_title';
                $("#"+project_selector_id).val('{{object.project|escapejs}}');
                {%include '_project_selector_js.html'%}
            });
        </script>
    {%endblock%}
    
    {%block inbox%}
    {%endblock%}
    
    {%block content%}
        <h3>Tarea</h3>
        <table>
            <tr><td> 
                <form method="post" action="">
                    <table>
                        <tr>
                            <td></td>
                            <td>
                                {%include 'tasks/_task_actions.html'%}
                            </td>
                        </tr>
                           {{form}}
                        <tr>
                            <td></td>
                            <td>
                                {%include 'tasks/_task_actions.html'%}
                            </td>
                        </tr>
                    </table>
                </form>
            </td></tr>
        </table>                
    {%endblock%}
    
