
<div class="task {%if object.is_highlighted %}highlighted{%else%}{%endif%}">
{%if object.detail%}
<img src="{%url static 'css/gnome-graphics.gif'%}" />
{%else%}
<img src="{%url static 'css/gnome-directory.gif'%}" />
{%endif%}
<a class="button delete" title="Borrar definitivamente" href="{%url tasks_task_delete object.id%}">
    </a>
{%if not current_project%}
<b>{{ object.project|capfirst }}:</b>
{%endif%}
    <a title="Editar" href="{%url tasks_task_edit object.id%}">{{ object.title }}</a>{%if object.detail %} (+) {% endif %}<br>
    <a class="button block" title="{%if object.is_blocked%}Desbloquear{%else%}Bloquear{%endif%}" href="{%url tasks_task_block object.id%}">
    </a><a class="button archive" title="{%if object.is_archived%}Desarchivar{%else%}Archivar{%endif%}" href="{%url tasks_task_archive object.id%}">
    </a><a class="button delay" title="{%if object.is_delayed%}Desposponer{%else%}Posponer{%endif%}" href="{%url tasks_task_delay object.id%}">
    </a><a class="button duplicate" title="Duplicar" href="{%url tasks_task_duplicate object.id%}">
    </a><a class="button highlight" title="{%if object.is_highlighted%}No Destacada{%else%}Destacar{%endif%}" href="{%url tasks_task_highlight object.id%}"></a>
</div>
