{%extends 'base.html'%}
{%block title%} {{object}} {%endblock%}
{%block content%}
<h3>Tarea</h3>
                    <table >
                        <tr><td> 
                            <form method="post" action="{%url tasks_task_edit object.id%}">
                            <table>
                               {{form}}
                                <tr>
                                    <td><input type="submit" value="Save and continue editing" name="_continue"></td>
                                    <td><input type="submit"> </td>
                                </tr>
                            </table>
                            </form>
                        </td></tr>
                    </table>                
{%endblock%}
