{%extends 'base.html'%}
{%block title%} {{object}} {%endblock%}
{%block extra_head%}
<link rel="stylesheet" type="text/css" href="{%url static 'js/jquery.autocomplete.css'%}" />
<script src="{%url static 'js/jquery.autocomplete.min.js'%}" ></script>
<script>
    var WWW_ROOT=''
    function format(item) {
        return item;
    }
    $(document).ready(function(){
        console.log('{{object.project}}');
        $("#id_project_title").val('{{object.project}}');
        $("#id_project_title").autocomplete(WWW_ROOT+'/tasks/project/json/');
        
        /* *
        , {
            formatItem: function(item) {
                console.log('format');
                return format(item);
            }
        }
        */
            //multiple: false,
            //dataType: "json",
            /* *
            parse: function(data) {
                console.log('parse');
                console.log(data);
                return $.map(data, function(row){
                    return {
                        data: row,
                        value: row.title,
                        result: row.title
                    }
            },
        });
            /* */
        /* *
        .result(function(e, item){
            console.log('result');
           console.log(item);
        });
        /* */
    });
</script>

{%endblock%}
{%block content%}
<h3>Tarea</h3>
                    <table >
                        <tr><td> 
                            <form method="post" action="{%url tasks_task_edit object.id%}">
                            <table>
                                <tr>
                                    <td></td>
                                    <td>
                                        <a title="Borrar definitivamente" href="{%url tasks_task_delete object.id%}">Eliminar</a>
                                        <input type="submit" value="Save">   
                                        <input type="submit" value="Save and continue editing" name="_continue">
                                        
                                    </td>
                                </tr>
                               {{form}}
                                <tr>
                                    <td></td>
                                    <td>
                                        <a title="Borrar definitivamente" href="{%url tasks_task_delete object.id%}">Eliminar</a>
                                        <input type="submit" value="Save">  
                                        <input type="submit" value="Save and continue editing" name="_continue">
                                        
                                    </td>
                                </tr>
                            </table>
                            </form>
                        </td></tr>
                    </table>                
{%endblock%}
