
<hr>
<h2>Filtros</h2>
<table>
    <tr>
        <td colspan="2">
            <label for="id_project_filter">Carpeta</label><br>
            <input type="text" id="id_project_filter" value="{{current_project}}">
        </td>
    </tr>
    <tr>
        <td>
            <label for="id_title_filter">:</label>
        </td>
        <td>
            <input type="text" id="id_title_filter">
        </td>
    </tr>
    <tr>
        <td>
            <label for="id_small_filter">Pequeñas</label>
        </td>
        <td>
            <input type="checkbox" id="id_small_filter">
        </td>
    </tr>
    <tr>
        <td>
            <label for="id_size_2_filter">+ de 5 minutos</label>
        </td>
        <td>
            <input type="checkbox" id="id_size_2_filter">
        </td>
    </tr>
    <tr>
        <td>
            <label for="id_with_detail_filter">Con detalle.</label>
        </td>
        <td>
            <input type="checkbox" id="id_with_detail_filter">
        </td>
    </tr>
    <tr>
        <td>
            <label for="id_archive_filter">Archivadas.</label>
        </td>
        <td>
            <input type="checkbox" id="id_archive_filter">
        </td>
    </tr>
</table>
