<div id="filters">

{%comment%}
<table>
    <tr>
        <td colspan="2">
{%endcomment%}
<table>
    <tr>
        <td>
        </td>
        <td>
<b>Filtros:</b>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            <label for="id_project_filter">Carpeta</label>
        </td>
        <td>
            <input onfocus="this.select();" type="text" id="id_project_filter" value="{%if current_project%}{{current_project}}{%endif%}">
        </td>
        <td>
{%if current_project%}
<a href="{%url tasks_project_set 0%}">Desactivar</a>
{%else%}
<b>Todas las carpetas.</b>
{%endif%}
        </td>
    </tr>
</table>
        
{%comment%}
        </td>
    </tr>
    <tr>
        <td>
            <label for="id_title_filter">:</label>
        </td>
        <td>
            <input type="text" id="id_title_filter">
        </td>
    </tr>
    <tr>
        <td>
            <label for="id_small_filter">Pequeñas</label>
        </td>
        <td>
            <input type="checkbox" id="id_small_filter">
        </td>
    </tr>
    <tr>
        <td>
            <label for="id_size_2_filter">+ de 5 minutos</label>
        </td>
        <td>
            <input type="checkbox" id="id_size_2_filter">
        </td>
    </tr>
    <tr>
        <td>
            <label for="id_with_detail_filter">Con detalle.</label>
        </td>
        <td>
            <input type="checkbox" id="id_with_detail_filter">
        </td>
    </tr>
    <tr>
        <td>
            <label for="id_archive_filter">Archivadas.</label>
        </td>
        <td>
            <input type="checkbox" id="id_archive_filter">
        </td>
    </tr>
</table>
{%endcomment%}
</div>
