console.log(project_selector_id);
        $("#"+project_selector_id).autocomplete(WWW_ROOT+'/tasks/project/json/',{
                    dataType:'json',
                    parse: function(data) {
                        return $.map(data, function(row) {
                            return {
                                data: row,
                                value: row.id,
                                result: row.title
                            }
                        });
                    },                
                    formatItem: function(item) {
                        return item.title;
                    }
                }).result(function(e, item){
        });
