
*{font-family:Arial;color:#30314C;}
body{background:#F0F0F0;}
table{width:98%;margin:10px;border:1px solid #999;}
td{padding:10px;}
a{color:#28B937;}
input[type=text]{font-size:20px;padding:3px;}
input[type=text],input[type=password], textarea{width:90%;}

div.task{float:left;border:1px solid #999;padding:5px;margin:5px;width:160px;}
div.highlighted{border:5px solid #F57D1B;}
div.task a {color:green;padding:3px;font-weight:700;font-size:20px;}
div.task a.button{display:inline-block;border:1px solid #999;height:25px;width:25px;margin:1px;border-radius:10px;}
div.task a.archive{background:#9AB0B2;}
div.task a.delete{background:#EE2310;}
div.task a.edit{background:#16D982;}
div.task a.delay{background:#659FC6;}
div.task a.duplicate{background:blue;}
div.task a.highlight{background:F57D1B;}

div.task a.archive:hover{background:#fff;}
div.task a.delete:hover{background:#fff;}
div.task a.edit:hover{background:#fff;}
div.task a.delay:hover{background:#fff;}
div.task a.duplicate:hover{background:#fff;}
div.task a.highlight:hover{background:#fff;}

p.inbox{border:2px solid #F5A767;background:#F57D1B;padding:5px;}
p.inbox a{color:white;font-weight:700;}

p.inbox-0{background:transparent;}
