
*{font-family:Arial;color:#30314C;}
body{background:#F0F0F0;}
table{width:98%;margin:10px;border:1px solid #999;}
td{padding:10px;}
a{color:#28B937;}

input[type=text]{font-size:20px;padding:3px;}
input[type=text],input[type=password], textarea{width:90%;}
input.search{width:60%;}

div.tasks_pending_list_label{border:2px solid  #bbb;background:#83B5ED;border-radius:10px;display:table;width:98%;}
div.tasks_pending_list_project_label{border:2px solid  #bbb;background:#5EA1EC;float:left;display:inline-block;border-radius:10px;}
div.tasks_pending_list_project_label h3{border:2px solid  #bbb;background:#4A9CF7;width:96%;font-weight:700;text-align:center;border-radius:10px;margin:auto;}

div.task{float:left;border:1px solid #999;padding:5px;margin:5px;width:150px;background:#eee;word-wrap:break-word;}
div.project{float:left;border:1px solid #999;padding:5px;margin:5px;width:160px;}
div.highlighted{border:5px solid #F57D1B;}
div.closed{border:5px solid blue;}
div.task a {color:green;padding:3px;font-weight:700;font-size:20px;}
div.project a {color:green;padding:3px;font-weight:700;font-size:20px;}
div.task a.button{display:inline-block;border:1px solid #999;height:25px;width:25px;margin:1px;}
div.project a.button{display:inline-block;border:1px solid #999;height:25px;width:25px;margin:1px;}

div.task a.archive{background:url(file-manager.gif) no-repeat;}
div.task a.delete{background:url(fileclose-2.gif) no-repeat;float:right;}
div.task a.block{background:url(fileclose-3.gif) no-repeat;}
div.task a.delay{background:url(history_clear.gif) no-repeat;}
div.task a.detail{background:url(gnome-graphics.gif) no-repeat;}
div.task a.duplicate{background:url(gnome-netstatus-txrx.gif) no-repeat;}
div.task a.highlight{background:url(emblem-bookmarks-closed.gif) no-repeat;}
div.project a.delete{background:url(fileclose-2.gif) no-repeat;}
div.project a.close{background:blue;}
div.project a.activate{background:green;}

div.task a.archive:hover,
div.task a.delete:hover,
div.task a.edit:hover,
div.task a.delay:hover,
div.task a.detail:hover,
div.task a.duplicate:hover,
div.task a.block:hover,
div.task a.highlight:hover
{background-color:black;}

p.inbox{border:2px solid #F5A767;background:#F57D1B;padding:5px;}
p.inbox a{color:white;font-weight:700;}

p.inbox-0{background:transparent;}

/*
div#filters{
width:300px;
}
*/

div#inbox_form{border:2px solid  #bbb;background:#B3E3AF;padding:8px;margin:8px;border-radius:10px;}
div#search_form{border:2px solid  #bbb;background:#BAAFE3;padding:8px;margin:8px;border-radius:10px;}
div#filter_form{border:2px solid  #bbb;background:#E2E3AF;padding:8px;margin:8px;border-radius:10px;}
div#task_archived{border:2px solid  #bbb;background:#E2E3AF;padding:8px;margin:8px;border-radius:10px;}
div#project_all{border:2px solid  #bbb;background:#E2E3AF;padding:8px;margin:8px;border-radius:10px;}
